/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block
}

/* æ¸…é™¤æµ®åŠ¨ */
body {
    background: #fff;
}

i {
    font-style: normal
}

.clearfix:after {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.m-container {
    width: 1180px;
    margin: 0 auto
}

.a-title {
    color: #666;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 10px;
    font-size: 14px;
}

/* tab */
.tab .fr {
    padding-bottom: 2px;
}

.tab_title {
    color: #ccc;
    border: 1px solid #fc6c00;
    width: 254px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-radius: 3px;
}

.tab_title span {
    display: block;
    width: 127px;
    text-align: center;
    float: left;
}

.tab_title span a {
    color: #fc6c00;
    font-size: 14px;
    display: block;
}

.tab_title .current {
    background: #fc6c00;
}

.tab_title .current a {
    color: #fff;
}

.tab_main {
    margin-top: 30px;
}

.mar-tb {
    margin: 10px 0;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.select_title {
    height: 70px;
}

.statistics-num {
    border-left: 3px solid #e86b1d;
    margin: 10px 0;
    padding: 0 10px;
}

.statistics-num em {
    color: #e86b1d
}

.btn-report {
    background: #e86b1d url("../css/img/icon2.png") 10px center no-repeat;
    width: 125px;
    height: 33px;
    color: #fff;
    padding-left: 30px;
}

.statistics-chart {
    margin-top: 20px;
    width: 1094px;
}

.statistics-chart h3 {
    /*font-size: 14px;*/
}

.chart {
}

.state-chart {
    width: 320px;
    border: 1px solid #ddd;
    padding-top: 20px;
    min-height: 550px;
    float: left;
}

.state-chart table {
    width: 100%
}

.state-chart table td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 50%;
    padding: 5px 0;
    font-size: 14px;
}

.state-chart p span {
    color: #666;
    padding-top: 20px;
}

.class-chart {
    width: 680px;
    border: 1px solid #ddd;
    padding: 20px;
    min-height: 530px;
    float: left;
    margin-left: 10px;
    position: relative;
}

.class-chart p em {
    color: #e86b1d
}

.class-chart .clearfix {
    font-size: 14px;
}

.class-chart .clearfix .fr a {
    padding: 5px 10px;
    margin-left: 10px;
}

.class-list {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 645px;
    margin-top: 10px;
    margin-left: 15px;
}

.class-list ul li {
    float: left;
    display: block;
    width: 42px;
    height: 38px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 38px;
    position: relative;
    cursor: pointer;
}

.class-list ul li:hover {
    background: #eee
}

.class-list ul li.class-mark1 {
    background: #4f7cd5;
    color: #fff
}

.class-list ul li.class-mark2 {
    background: #6594d6;
    color: #fff
}

.class-list ul li.class-mark3 {
    background: #96bbee;
    color: #fff
}

.class-list ul li.class-mark4 {
    background: #dcecff;
}

.class-list ul li .c-tips {
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 20px;
    line-height: 20px;
    background: #000;
    filter: alpha(opacity:70);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 180px;
    margin-left: -104px;
    font-size: 12px;
    display: none;
    color: #fff;
    z-index: 99;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.class-list ul li .c-tips i {
    position: absolute;
    bottom: -12px;
    left: 50%;
    border-width: 6px;
    border-style: solid dashed dashed;
    border-color: #000 transparent transparent;
    font-size: 0;
    line-height: 0;
}

.class-list ul li .c-tips:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

.class-rank {
    background: #fff;
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    height: 358px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.class-rank .class-rank-title {
    padding: 5px 10px;
}

.class-rank .class-rank-title .btn-edit-class {
    background: url("img/icon3.png?20160722") no-repeat;
    padding: 5px 10px;
    margin-left: 10px;
}

.class-rank .class-rank-title p {
    padding-top: 5px
}

.cgray, .class-chart p.cgray em {
    color: #999
}

.class-rank .loadingimg {
    text-align: center;
    display: none;
}

.class-rank .loadingimg img {
    margin-top: 130px;
}

.class-rank table {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.class-rank table tbody td {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.class-rank table tbody tr:nth-of-type(even) td {
    background: #f8f8f8;
}

.class-rank table tbody tr.hover td {
    background: #f3f3f3
}

.class-rank table tbody td a {
    color: #5881d3;
    display: none;
}

.class-rank table tbody td span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 168px;
}

body .statistics-style.layui-layer {
    border: 5px solid #ccc;
}

body .statistics-style .layui-layer-title {
    background: #fff;
    color: #000;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
}

body .statistics-style .layui-layer-btn a {
    width: 100px;
    height: 35px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #444;
    font-size: 14px;
}

body .statistics-style .layui-layer-btn .layui-layer-btn0 {
    background: #e86b1d;
    color: #fff
}

body .statistics-style .layui-layer-setwin {
    right: 20px;
    top: 17px;
}

body .statistics-style .layui-layer-btn {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

.layer-class {
    padding: 20px 0 20px 40px;
}

.layer-class ul li {
    width: 90px;
    height: 25px;
    line-height: 25px;
    float: left;
    color: #000;
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 8px;
    margin-bottom: 10px;
}

.layer-class ul li a {
    display: block;
    color: #333;
    border: 1px solid #ddd;
}

.layer-class ul li a:hover {
    background: #fff;
    color: #ff8a10;
}

.layer-class ul li.active a {
    background: #fff;
    color: #ff8a10;
    border: 1px solid #ff8a10;
}

.territory {
    padding: 20px;
    margin-top: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
}

.territory-top {
    border-bottom: 1px solid #ddd;
    margin: 0 -20px;
    padding: 0 20px;
    padding-bottom: 10px;
    height: 35px;
}

.territory-top h3 {
    font-size: 20px;
    font-weight: bold
}

.territory-input .fl {
    padding-left: 20px;
    position: relative;
}

.select-proposer {
    position: relative;
}

.select-proposer .select-input-title {
    display: block;
    line-height: 32px;
}

.select-proposer .select-input {
    height: 28px;
    width: 100px;
    cursor: pointer;
    color: #666;
    line-height: 28px;
    background: url("slice/icon1.png") 110px center no-repeat;
    padding-left: 10px;
    padding-right: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select-proposer .select-input.active {
    background: url("slice/icon1-hover.png") 110px center no-repeat;
}

.select-proposer .select-list {
    display: none;
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 99;
    background: #fff;
    border: 1px solid #ddd;
}

.select-proposer .select-list .select-title {
    background: #f8f8f8;
    border-top: 1px solid #ddd;
}

.select-proposer .select-list .select-title a {
    height: 35px;
    line-height: 35px;
    width: 69px;
    text-align: center;
    display: inline-block;
    color: #333;
}

.select-proposer .select-list .select-title a.active {
    border-bottom: 2px solid #ee7b1d;
}

.select-list .select-list-scroll {
    height: 300px;
    overflow: hidden;
    overflow-y: auto
}

.select-list .select-list-scroll ul li a {
    color: #333;
    display: block;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
}

.select-list .select-list-scroll ul li:nth-of-type(even) {
    background: #f8f8f8;
}

.select-list .select-list-scroll ul li:hover {
    background: #fef5e4;
}

.select-list .select-class {
    width: 720px;
}

.select-list .select-class ul {
    padding: 20px 20px 20px 40px;
    border-bottom: 1px solid #ddd;
}

.select-proposer .select-list .select-title a {
    height: 35px;
    line-height: 35px;
    width: 69px;
    text-align: center;
    display: inline-block;
    color: #333;

    padding-left: 20px;
}

.select-proposer .select-list .select-title a.active {
    border-bottom: 2px solid #ee7b1d;
    padding-left: 20px;
    color: #333 !important;
}

.select-list .select-class ul li a, .dialog-class ul li a {
    float: left;
    width: 80px;
    display: block;
    padding-right: 20px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background: url("slice/n_icon5.png") no-repeat left center;
    cursor: pointer;
}

.select-list .select-class ul li a, .dialog-class ul li a {
    color: #000
}

.select-list .select-class ul li a:hover, .dialog-class ul li a:hover {
    background: url("slice/n_icon7.png") no-repeat left center;
}

.select-list .select-class ul li.active a, .dialog-class ul li.active a {
    background: url("slice/n_icon6.png") no-repeat left center;
}

.btn-choise {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.btn-choise .btn-choise-yes {
    width: 100px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #fff;
    background: #e86b1d;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin: 0 20px;
}

.btn-choise .btn-choise-no {
    width: 100px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #444;
    font-size: 14px;
    display: inline-block;
    margin: 0 20px;
}

.datebox label, .datebox .txt-date {
    float: left;
}

.datebox label {
    padding: 5px 10px
}

.txt-date {
    width: 70px;
    height: 28px;
    background: url("slice/icon1.png") 90px center no-repeat #fff;
    padding-left: 20px;
    padding-right: 15px;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.txt-date.active {
    background: url("slice/icon1-hover.png") 90px center no-repeat #fff;
}

.txt-date span {
    color: #666;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.txt-date ul {
    position: absolute;
    z-index: 99;
    height: 250px;
    overflow-y: auto;
    top: 30px;
    left: -1px;
    background: #fff;
    width: 105px;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
}

.txt-date ul li {
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
}

.txt-date ul li:hover {
    background: #f5f5f5;
}

.text-center {
    text-align: center
}

.txt-input {
    height: 28px;
    cursor: pointer;
    color: #666;
    line-height: 28px;
    background: url("slice/icon1.png") 130px center no-repeat;
    padding-left: 10px;
    padding-right: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flipInX {
    margin-left: 39px;
}

em {
    color: #fc6c00;
}

.t-center {
    text-align: center
}

.t-right {
    text-align: right
}

.t-left {
    text-align: left;
}

.map-img {
    margin-top: 10px;
}

.map-num {
    text-align: center;
}

.map-num p {
}

.map-num .map-num-mark span {
    margin: 0 1px;
    padding: 1px 12px;
}

.map-num .map-num-mark span.m-mark1 {
    background: #4f7cd5;
    color: #fff
}

.map-num .map-num-mark span.m-mark2 {
    background: #6594d6;
    color: #fff
}

.map-num .map-num-mark span.m-mark3 {
    background: #96bbee;
    color: #fff
}

.map-num .map-num-mark span.m-mark4 {
    background: #dcecff;
}

.map-num .map-num-mark span.m-mark5 {
    background: #ccc;
}

.map-rank {
    position: absolute;
    top: 165px;
    right: 20px;
    border: 1px solid #fc6c00;
    width: 300px;
}

.table-rank table {
    width: 100%
}

.table-rank table caption {
    background: #fc6c00;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.table-rank table thead td {
    border-bottom: 2px solid #ededed;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
}

.table-rank table tbody td {
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #666;
    padding: 0 20px;
}

.t-span {
    width: 230px;
    height: 35px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-rank table tbody td b {
    color: #fc6c00
}

.table-rank table tbody tr.hover td, .chart-class-table table tbody tr.hover td {
    background: #eee !important;
}

.table-rank table .t-right {
    text-align: right
}

.table-rank table .t-left {
    text-align: left;
}

.table-rank table .t-left a {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #666
}

.table-rank table tr:hover .t-left a {
    text-decoration: underline
}

.time {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.time .btn-choise-proposer {
    height: 25px;
    line-height: 25px;
    border: 1px solid #ddd;
    color: #5881d3;
    padding: 0 20px;
    display: block;
    float: left;
    background: #fff;
    margin-left: 10px;
}

.trade-rank {
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.trade-rank h4 {
    font-size: 16px;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table thead td {
    border-bottom: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    font-size: 14px;
    background: #ececec;
    font-weight: bold;
}

.table tbody tr.hover td {
    background: #eee !important;
}

.table tbody tr:hover td {
    background: #eee !important;
}

.table tbody td {
    height: 45px;
    line-height: 45px;
    color: #666;
    padding: 0 10px;

}

.table tbody tr:nth-of-type(odd) td, .table tbody tr.odd td {
    background: #f8f8f8;
}

.map-rank table tbody tr:nth-of-type(even) td, .map-rank table tbody tr.even td {
    background: #f8f8f8;
}

.txt-overflow {
    width: 250px;
    display: block;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody td a {
    color: #666;
}

.table tbody td a:hover {
    text-decoration: underline;
    color: #5881d3;
}

.table tbody td.td-mark {
    color: #fc6c00;
    text-align: center;
}

.table td.td-center {
    text-align: center;
}

.twotable {
    width: 560px;
}

.twotable .table td {
    text-align: center
}

.n-search {
    width: 415px;
}

.k-search {
    width: 478px;
}

.a-search {
    width: 485px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
}

.asbox {
    padding-right: 83px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ddd;
    position: relative;
}

.asbox a {
    position: absolute;
    right: 0;
    top: 0;
    width: 83px;
    height: 38px;
    background: #fc7d28;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
}

.asbox input {
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-indent: 1em;
    border: none;
    font-size: 14px;
}

.mod_search {
    padding: 10px 20px;
    padding-right: 70px;
    position: relative;
}

.mod_search .input-search {
    border: 1px solid #ff8a10;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-indent: 1em;
}

.mod_search span {
    background: #ff8a10;
    width: 60px;
    height: 27px;
    line-height: 27px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    cursor: pointer;
}

.precise_click {
    padding-top: 14px;
    padding-right: 20px;
    display: block;
    text-decoration: underline;
    color: #ff8a10;
}

.mod_search_precise {
    padding: 10px 20px;
    display: none;
}

.mod_search_precise input {
    border: 1px solid #ff8a10;
    width: 165px;
    height: 25px;
    line-height: 25px;
    text-indent: 1em;
    float: left;
    margin-right: 10px;
}

.mod_search_precise span {
    background: #ff8a10;
    width: 60px;
    height: 27px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.default_click {
    padding-top: 3px;
    display: block;
    text-decoration: underline;
    color: #ff8a10;
}

.mt_tsk_div, .mt_tsk_hb_div {
    width: 488px;
}

.mt_tsk_div table, .mt_tsk_hb_div table {
    width: 100%
}

.mt_tck_title {
    margin: 0 20px;
}

.mt_tck_title td {
    height: 36px;
    line-height: 36px;
    border: none;
    padding: 0 5px;
}

.mt_tck_tab {
    min-height: 36px;
    height: 288px;
    margin: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #ccc;
}

.mt_tck_tab td {
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
}

.mt_tck_topt .td1 {
    width: 200px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mt_tck_topt .td2 {
    width: 48px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mt_tabt2 .td3 {
    width: 430px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mt_tck_topt .td4 {
    width: 330px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mt_tck_topt td a {
    color: #357fcc;
    padding-left: 16px;
}

.mt_tck_tab tbody tr:nth-of-type(even) {
    background: #f8f8f8;
    color: #333;
}

.mt_tck_topt tbody tr:hover {
    background-color: #999;
    color: #fff;
}

.mt_tck_topt tbody tr.active {
    /*background-color: #ff8a10;*/
    /*color: #fff;*/
}

.mt_tsk_hb_div .mt_tck_topt .td-on, .mt_tsk_hb_div .mt_tck_title .td-on, .mt_tsk_div .mt_tck_tab tbody tr .td-on {
    background: url("slice/icon15.png") no-repeat left center;
    padding-left: 25px;
    display: block;
}

.mt_tck_topt tbody tr.on .td-on, .mt_tck_title tr.on .td-on, .mt_tsk_div .mt_tck_tab tbody tr.active .td-on {
    background: url("slice/icon15-active.png") no-repeat left center;
}

.mt-bottom {
    padding: 20px 0;
    text-align: center;
}

.mt-bottom a {
    width: 100px;
    height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin: 0 20px;
}

.mt-bottom .mt-btn0 {
    background: #e86b1d;
    color: #fff;
}

.mt-tips {
    color: #999;
    text-align: center;
    padding-top: 50px;
}

.mt-bottom .mt-btn1 {
    background-color: #fff;
    color: #444;
}

.mt-bottom a:hover {
    opacity: .9;
    text-decoration: none;
}

.details-box {
    padding-bottom: 20px;
}

.choise-proposer input {
    height: 30px;
    width: 353px;
    cursor: pointer;
    color: #666;
    margin: 10px 0;
    line-height: 30px;
    background: url("slice/icon1.png") 353px center no-repeat #fff;
    padding-left: 10px;
    padding-right: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choise-proposer-tips {
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 30px;
    margin: 10px;
    border: 1px dashed #ccc;
    color: #999;
    background: url("slice/icon2.png") 10px center no-repeat #fff;
}

.choise-proposer-tips span {
    font-weight: bold;
    color: #888;
}

.choise-proposer-tips a {
    color: #2165e3;
    /*text-decoration: underline*/
}

.layui-layer-setwin .layui-layer-close {
    background: url("slice/mj-icon23.png") no-repeat;
}

.layui-layer-setwin .layui-layer-close:hover {
    background-position: 0 0;
    background: url("slice/mj-icon24.png") no-repeat;
}

.layui-layer-setwin .layui-layer-close2 {
    right: -10px;
    top: -10px;
    width: 16px;
    height: 16px;
    background-position: 0 0;
}

.m-tips {
    min-width: 300px;
    padding: 20px 20px;
    display: none;
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #ff8a10;
    background-color: #ff8a10;
    color: #fff;
}

.layui-layer-iframe .layui-layer-btn,
.layui-layer-page .layui-layer-btn {
    padding: 10px 30px 20px 30px;
    border-top: 1px solid #eee;
}

.m-tool {
    border: 1px solid #ddd;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}

.m-tool .m-tool-list1 {
    height: 20px;
    line-height: 20px;
    border-right: 1px solid #eee;
    margin-top: 15px;
    padding-right: 20px;
}

.m-tool .m-tool-list1 h3 {
    padding-right: 40px;
    font-size: 20px;
}

.m-tool .m-tool-list1 p em {
    font-size: 16px;
}

.m-tool .m-tool-list2 p {
    float: left;
    padding-left: 20px;
}

.m-tool .m-tool-list3 {
    padding-top: 8px;
}

.a-style-default {
    width: 110px;
    height: 35px;
    display: block;
    background: #fe6905;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
}

.chart {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.detail-rank {
    float: left;
    width: 355px;
    border: 1px solid #fc6c00;
    height: 784px;
    position: relative;
}

.detail-rank h3 {
    background: #fc6c00;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    padding: 0 20px;
}

a.a-download {
    background: url("slice/a-icon6.png") no-repeat 10px center #fc6c00;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    padding-left: 30px;
}

.detail-rank ul li {
    line-height: 35px;
    cursor: pointer;
    border-top: 1px solid #fff;
    position: relative;
}

.detail-rank ul li .t-left {
    float: left;
    padding-left: 20px;
}

.detail-rank ul li .t-right {
    float: right;
    padding-right: 20px;
    position: relative;
    width: 80px;
}

.detail-rank ul li.active .t-right b {
    display: block;
    position: absolute;
    right: -2px;
    background: #fff;
    padding-right: 20px;
    z-index: 1000;
}

.detail-rank li.active {
    border: 1px solid #fc6c00;
    border-left: none;
    border-right: 1px solid #fff;
    background: #fff !important;
}

.detail-rank .td-rank {
    position: absolute;
    left: 355px;
    top: -1px;
    z-index: 999;
    bottom: 0;
    display: none;
    cursor: auto;
}

.detail-rank .rank-box {
    padding: 5px 30px 10px 25px;
    min-height: 100px;
    width: 480px;
    border: 1px solid #fc6c00;
    background: #fff;
    text-align: left;
    position: absolute;
}

.detail-rank .rank-box p {
    height: 33px;
    border-bottom: 1px solid #ddd;
    color: #222;
}

.detail-rank .rank-box h3 {
    font-size: 14px;
    color: #222;
    padding-left: 5px;
    background: none;
    text-align: left;
    font-weight: bold;
}

.detail-rank .rank-box .rank-list {

}

.detail-rank .rank-box .rank-list a {
    min-width: 120px;
    float: left;
    color: #444;
    line-height: 25px;
}

.detail-rank .rank-box .rank-list a:hover {
    text-decoration: underline;
    color: #fe6905;
}

.kernel {
    text-align: left
}

.kernel em {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    vertical-align: top;
}

.icon24 {
    background: url("slice/icon24.png") no-repeat;
    width: 14px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.detail-chart {
    width: 730px;
    float: right;
}

.chart .chart2 h3 {
    height: 35px;
    border-bottom: 2px solid #eee;
    font-size: 17px;
    font-weight: normal;
    position: relative;
}

.chart .chart2 h3 span {
    position: absolute;
    height: 35px;
    display: block;
    float: left;
    border-bottom: 2px solid #fe6905;
}

.chart-left {
    float: left
}

.class-detail p {
    padding-bottom: 10px;
}

.chart-class-table {
    float: right;
    width: 250px;
    padding: 20px 0;
}

.chart-class-table table {
    width: 100%;
    border: 1px solid #eee;
}

.chart-class-table table td {
    padding: 0 20px;
}

.chart-class-table table thead td {
    height: 40px;
    background: #fdfdfd;
}

.chart-class-table table tbody td {
    height: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.chart-class-table table tbody tr:hover {
    cursor: pointer
}

.chart-class-table table tbody tr:hover td a {
    text-decoration: underline
}

.chart-class-table table thead tr:hover td span {
    text-decoration: underline;
    cursor: pointer
}

.chart-class-table span, .chart-class-table i {
    font-size: 14px;
    font-weight: normal;
}

.chart-class-table thead a {
    color: #2165e3;
    float: right;
    font-size: 14px;
}

.chart-class-table tbody a {
    color: #222;
}

.icon25 {
    background: url("slice/icon25.png") no-repeat;
    width: 14px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.schedule {
    margin-top: 20px;
    border: 1px solid #ddd;
}

.schedule-title {
    font-size: 20px;
    color: #fc6c00;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.schedule-box {
    border-top: none;
    height: 399px;
    position: relative;
}

.schedule-menu {
    width: 600px;
}

.schedule-menu ul li {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.schedule-menu ul li a {
    padding: 0 20px;
    display: block;
    width: 560px;
    height: 39px;
    color: #000;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 100;
}

.schedule-menu ul li.active a {
    border: 1px solid #ccc;
    border-right: none;
    background: #f9f9f9;
}

.schedule-menu ul li a h3 {
    float: left;
    width: 110px;
    font-size: 14px;
}

.schedule-menu ul li a span {
    float: left;
    font-size: 14px;
    padding-right: 20px;
}

.schedule-menu ul li a i {
    float: right;
    color: #2165e3;
}

.schedule-menu ul li a em {
    font-weight: bold
}

.schedule-list {
    width: 578px;
    height: 399px;
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid #ccc;
    z-index: 99;
    background: #f9f9f9;
}

.schedule-list-box {
    padding: 20px 10px 20px 30px;
    display: none;
}

.schedule-list-box-title {
    border-bottom: 1px solid #dfdfdf;
    height: 30px;
}

.schedule-list-box-title h3 {
    padding-right: 10px;
}

.schedule-list-box-title h3 a {
    color: #000;
    padding: 0 10px;
    display: block;
    height: 29px;
}

.schedule-list-box-title h3 a.active {
    color: #fc6c00;
    border-bottom: 2px solid #fc6c00;
}

.schedule-list-box-title span {
    color: #777;
    padding-right: 10px;
}

.schedule-list-box-title span a {
    color: #2165e3;
}

.schedule-list-box-title h3 i {
    background: url(slice/icon2.png) center center no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
}

.schedule-tab-box .schedule-ul {
    display: none;
}

.schedule-table {
    height: 310px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 0;
}

.schedule-table table {
    width: 100%;
}

.schedule-table table td {
    height: 32px;
    color: #222;
}

.t-span2 {
    width: 400px;
    height: 32px;
    line-height: 32px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-table table td a {
    text-decoration: underline;
    color: #222
}

.schedule-table table td a:hover {
    color: #2165e3;
}

.schedule-ul {
    height: 330px;
    overflow: hidden;
    overflow-y: auto;
}

.schedule-ul ul {
    margin-left: -25px;
    display: none;
}

.schedule-ul ul li {
    float: left;
    margin-left: 25px;
    padding-top: 20px;
    cursor: pointer;
}

.schedule-ul ul li .img {
    width: 150px;
    height: 92px;
    line-height: 90px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #eee;
    background: #fff;
}

.schedule-ul ul li img {
    max-width: 150px;
    max-height: 90px;
    vertical-align: middle;
}

.schedule-ul ul li p {
    padding-top: 3px;
    white-space: nowrap;
    height: 20px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-ul ul li p .fl {
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.nav-menu {
    position: fixed;
    bottom: 300px;
    right: 20px;
    display: none;
    border: 1px solid #eee;
}

.nav-menu li {
    height: 30px;
    width: 45px;
    line-height: 30px;
    text-align: center;
}

.nav-menu li a {
    color: #333;
    background: #fff;
    display: block;
}

.nav-menu li a.active, .nav-menu li a:hover {
    background: #fc6c00;
    color: #fff;
}

.loading {
    width: 100%;
    height: 451px;
    text-align: center;
}

.loading img {
    padding-top: 150px;
}

input, textarea {
    outline: none
}

.ietips {
    display: none;
    background: #fc7d28;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100%;
    color: #fff
}

/*pages*/
.pages {
    text-align: center;
    margin-top: 20px;
}

.pages label {
    display: inline-block;
    width: 79px;
    height: 31px;
    background: #fff;
    text-align: center;
    line-height: 31px;
    font-size: 12px;
    color: #666;
    border: solid 1px #eee;
}

.pages label.on {
    background: #dcdbd9;
    color: #fff;
}

.pages label.on a {
    color: #fff;
}

.pages label a {
    color: #666;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.pages > a {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 31px;
    background: #fff;
    text-align: center;
    line-height: 31px;
    font-size: 12px;
    color: #666;
    border: solid 1px #eee;
}

.pages > a.on, .pages > a:hover {
    color: #fc883a;
    border: solid 1px #fc883a;
}

.pages span {
    padding: 0 5px 0 10px;
    font-size: 12px;
    color: #666;
}

.pages select {
    height: 31px;
    color: #666;
    border: solid 1px #eee;
    cursor: pointer;
    outline: none;
    padding /***/: 6px 0 \9;
}

.pages input {
    margin-top: -2px;
    width: 35px;
    height: 31px;
    outline: none;
    border: solid 1px #ddd;
    vertical-align: middle;
    text-align: center;
    margin-top: -4px \9;
    line-height: 31px \9;
}

.pages label.mj-qbtn {
    width: 40px;
    background: #fff;
    cursor: pointer;
}

.icon-new {
    background: url("img/new.gif") no-repeat;
    height: 15px;
    width: 25px;
}

.city-close {
    border: none !important;
    float: right;
    color: red !important;
}

.dialog-class {
    padding: 10px 0 10px 40px;
}

.dialog-rank ul li {
    padding: 0 20px;
    width: 159px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #222;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
}

.dialog-rank ul li:hover {
    background: #f8f8f8;
}

.dialog-rank ul li a {
    color: #222
}

.dialog-rank ul li span.gray {
    color: #666
}

.dialog-rank ul li span b {
    padding-right: 10px;
}

.history {
    position: absolute;
    width: 400px;
    left: 0;
    top: 139px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
    z-index: 10;
}

.icon13 {
    background: url("slice/icon13.png") no-repeat;
    width: 15px;
    height: 15px;
    padding-right: 30px;
    vertical-align: middle;
}

.history ul li {
    height: 15px;
    line-height: 15px;
    padding: 10px 20px;
    font-size: 14px;
}

.history ul li:nth-of-type(even) {
    background: #f8f8f8;
}

.history ul li:hover, .history ul li.active {
    background: #f1f1f1;
}

.history ul li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 360px;
    height: 20px;
    display: block;
    color: #666;
}

.history p {
    text-align: center;
    height: 35px;
    line-height: 35px;
    background: #f8f8f8;
}

.ulpage {
    text-align: center;
    padding-top: 10px;
}

.ulpage a {
    color: #2165e3
}

.ulpage .page-a {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 31px;
    background: #fff;
    text-align: center;
    line-height: 31px;
    font-size: 12px;
    color: #666;
    border: solid 1px #eee;
}

.ulpage .page-a.cur {
    color: #fc883a;
    border: solid 1px #fc883a;
}

.detail-rank table tbody tr.hover td, .chart-class-table table tbody tr.hover td {
    text-decoration: underline;
}

.brand-protection {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.brand-input-title {
    display: block;
    line-height: 32px;
}

.brand-input {
    height: 28px;
    width: 100px;
    cursor: pointer;
    color: #666;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.click-kernel-brand {
    width: 50px;
}

.a-estimate {
    height: 30px;
    line-height: 30px;
}

.brand-icon1 {
    color: #fe6905;
    padding-left: 20px;
    display: block;
    line-height: 30px;
    background: url("slice/a-icon1.png") no-repeat left center;
    cursor: pointer;
}

.brand-tooltips {
    position: absolute;
    top: 40px;
    right: 0;
    width: 410px;
    height: 140px;
    z-index: 90;
    border-radius: 2px;
    display: none;
}

.brand-tooltips .tag {
    border: 1px solid #fc6c00;
    position: relative;
    padding: 12px 20px;
    background-color: #FFF;
}

.brand-tooltips .tag p {
    line-height: 25px;
}

.brand-tooltips .arrow {
    position: absolute;
    top: -7px;
    right: 53px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fc6c00;
    z-index: 91;
}

.brand-tooltips .arrow em {
    position: absolute;
    top: 1px;
    right: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.brand-protection-box {
    margin: 0 -20px -20px -20px;
    height: 400px;
    overflow: hidden;
}

.brand-left {
    width: 366px;
    float: left;
    position: relative;
    padding-top: 40px;
}

.brand-menu {
    width: 367px;
    height: 41px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
}

.brand-menu ul li {
    float: left;
    width: 152px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.brand-menu ul li:first-child {
    border-right: none;
}

.brand-menu ul li:last-child {
    border-left: none;
}

.brand-menu ul li.active {
    border-top: 1px solid #aaa;
    border-bottom: none;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    font-weight: bold;
}

.brand-menu-box {
    border: 1px solid #aaa;
    border-top: none;
    height: 360px;
    width: 365px;
    position: absolute;
    left: -1px;
    top: 40px;
    overflow: hidden;
    overflow-y: auto;
}

.brand-menu-load {
    height: 360px;
    width: 365px;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    text-align: center;
    line-height: 360px;
    vertical-align: middle;
    display: none;
}

.brand-menu-content {
    display: none
}

.brand-menu-content table {
    width: 100%;
}

.brand-menu-content table tbody tr.active {
    background: #eee;
}

.brand-menu-content table tbody tr.hover td {
    background: #eee;
}

.brand-menu-content table td {
    border-bottom: 1px solid #eee;
    height: 45px;
    padding-left: 25px;
}

.brand-menu-content table thead td {
    height: 35px;
    color: #888
}

.brand-menu-content table tbody td {
    font-size: 14px;
    cursor: pointer;
}

.brand-menu-content table tbody td i {
    font-size: 12px;
    float: left;
}

.icon-core-classes {
    padding: 0 3px;
    color: #f23a01;
    border: 1px solid #f23a01;
    border-radius: 2px;
    margin-left: 5px;
}

.icon-important-category {
    padding: 0 3px;
    color: #ff8b3d;
    border: 1px solid #ff8b3d;
    border-radius: 2px;
    margin-left: 5px;
}

.brand-menu-content table tbody td i.icon-core-classes, .brand-menu-content table tbody td i.icon-important-category {
    float: right;
}

.b-icon {
    padding-left: 15px;
    margin-right: 10px;
}

.icon-same {
    color: #f23a01;
    background: url("slice/a-icon2.png") no-repeat left center;
}

.icon-like {
    color: #f19b09;
    background: url("slice/a-icon3.png") no-repeat left center;
}

.icon-group {
    color: #63a5ff;
    background: url("slice/a-icon4.png") no-repeat left center;
}

.icon-well {
    color: #29b404;
    background: url("slice/a-icon5.png") no-repeat left center;
}

.icon-suggest {
    color: #29b404;
}

.brand-right {
    width: 775px;
    margin-right: 20px;
    float: right;
}

.tabs {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd
}

.brand-list-title .fl {
    font-size: 14px;
    color: #888
}

.tab-menu ul {
    padding-top: 10px;
    height: 35px;
}

.tab-menu ul li {
    float: left;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    cursor: pointer;
}

.tab-menu ul li.active {
    border: 1px solid #ddd;
    border-bottom: none
}

.tab-list {
    padding-top: 10px;
    clear: both
}

.tab-box {
    display: none
}

.tab-box .table {
    margin: 0
}

.tab-box .table thead td {
    height: 35px;
    line-height: 35px;
    background: #f8f8f8;
}

.tab-box .table tbody td {
    height: 38px;
    line-height: 38px;
    position: relative;
}

.tab-box .table td span {
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    position: relative;
}

.tab-box .table td a {
    color: #2165e3;
}

.tab-box .table td i {
    position: absolute;
    left: -8px;
    top: 15px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
}

.tab-box .table .td-mine td {
    color: #29b404
}

.table-icon-same {
    background: #f23a01
}

.table-icon-like {
    background: #f19b09
}

.brand-list-table {
    height: 308px;
    overflow: hidden;
    overflow-y: auto;
}

.tool-tips {
    float: left;
}

.group-tooltips {
    position: absolute;
    z-index: 90;
    float: left;
}

.group-tooltips .tag {
    border: 1px solid #ccc;
    position: relative;
    padding: 6px 10px;
    background-color: #FFF;
}

.group-tooltips .tag p {
    line-height: 25px;
}

.group-tooltips .arrow {
    position: absolute;
    top: -7px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    z-index: 91;
}

.group-tooltips .arrow em {
    position: absolute;
    top: 1px;
    right: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.agent {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 0 20px;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
}

.agent-left {
    position: absolute;
    left: 0;
    z-index: 999;
}

.agent-left p {
    padding-top: 10px;
    color: #666;
    font-size: 14px;
    padding-left: 20px;
    max-width: 320px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.agent-right {
    width: 775px;
    float: right;
    height: 400px;
    border-left: 1px solid #ddd;
    padding-left: 18px;
}

.agent-list-content.tab-box .table td i {
    left: 0;
}

.charts-icon1 {
    background: #2ec7c9
}

.charts-icon2 {
    background: #b6a2de
}

.charts-icon3 {
    background: #5ab1ef
}

.charts-icon4 {
    background: #ffb980
}

.charts-icon5 {
    background: #d87a80
}

.charts-icon6 {
    background: #8d98b3
}

.charts-icon7 {
    background: #e5cf0d
}

.charts-icon8 {
    background: #97b552
}

.charts-icon9 {
    background: #95706d
}

.charts-icon10 {
    background: #dc69aa
}

.charts-icon11 {
    background: #07a2a4
}

.charts-icon12 {
    background: #9a7fd1
}

.charts-icon13 {
    background: #588dd5
}

.brand-no-result {
    height: 400px;
    text-align: center;
    line-height: 400px;
    color: #999;
    font-size: 14px;
}

#brand {
    height: 956px;
    background: url("slice/loading.gif") no-repeat center 40%;
}

.iconshare {
    background: url("slice/share.png") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 2px;
}

.fix-left {
    position: fixed;
    left: 20px;
    top: 250px;
    z-index: 999;
}

.share-counselor {
    background: url("slice/share-counselor.png") no-repeat center 10px #fff;
    border: 1px solid #fc6c00;
    width: 24px;
    height: 44px;
    display: block;
    padding: 40px 15px 0 15px;
    color: #fc6c00;
    text-align: center;
    border-radius: 3px;
}

.share-counselor:hover {
    background: url("slice/share-counselor-hover.png") no-repeat center 10px #fc6c00;
    color: #fff;
}

.share-gif {
    background: url("slice/share.gif") no-repeat;
    width: 80px;
    height: 50px;
    display: block;
    margin-left: -13px;
}

.layui-layer-btn a {
    margin: 0 30px !important;
}

.share-model {
    padding: 0 30px;
}

.mod-title {
    border-bottom: 1px dashed #ddd;
    line-height: 40px;
}

.mod-form {
    padding: 20px 0;
}

.mod-form table td {
    padding: 5px;
    font-size: 14px;
}

.mod-form table td input {
    width: 260px;
    padding: 0 10px;
    height: 33px;;
    line-height: 33px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.share-box-res {
    padding: 30px 0;
}

.share-box-res textarea {
    width: 300px;
    height: 50px;
    line-height: 25px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    float: left;
    resize: none;
    word-break: break-all;
}

.share-box-res a {
    background: #fc6c00;
    border-radius: 2px;
    height: 62px;
    line-height: 60px;
    display: block;
    text-align: center;
    width: 106px;
    float: right;
    font-size: 14px;
    color: #fff;
}

.eweima {
    clear: both;
    text-align: center;
    padding: 20px 0;
}

.eweima .erweima-img {
    width: 133px;
    height: 133px;
    padding-top: 10px;
    margin: 0 auto;
}

#share {
    display: none
}

.share-header {
    background: #f8f8f8;
    height: 84px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 9999;
}

.share-header-box {
    width: 1100px;
    margin: 0 auto;
    background: url("slice/s-icon1.png") no-repeat left center #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: 84px;
    padding-left: 80px;
}

.share-info {
    padding-top: 15px;
    font-size: 20px;
}

.share-info span {
    font-size: 14px;
}

#sharename {
    font-size: 20px;
}

.share-info a {
    background: url("slice/s-icon2.png") no-repeat 8px center #fc6c00;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px 5px 22px;
    border-radius: 3px;
    margin-left: 10px;
}

#qqclick {
    display: none;
}



