.us-icon {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.uj_icon1{
    width: 7px;
    height: 4px;
    background-image: url("slice/uj-icon1.png");
    margin-left: 3px;
}
.uj_icon2{
    width: 13px;
    height: 8px;
    background-image: url("slice/uj-icon2.png");
}
.uj-icon2{
    width: 9px;
    height: 6px;
    background-image: url("slice/mj_icon2.png");
    margin-left: 5px;
}
.uj_icon3{
    width: 7px;
    height: 4px;
    background-image: url("slice/uj-icon3.png");
    margin-left: 3px;
}
.uj_icon4{
    width: 17px;
    height: 17px;
    background-image: url("slice/uj-icon4.png");
    margin-right: 12px;
    cursor: pointer;
}
.uj_icon4:hover{
    background-image: url("slice/uj-icon4s.png");
}
.uj_icon6{
    width: 18px;
    height: 17px;
    background-image: url("slice/mj_icon6.png");
    margin-right: 3px;
}
.uj_icon9{
    width: 18px;
    height: 18px;
    background-image: url("slice/mj_icon9.png");
    margin-right: 10px;
}
.uj_icon10{
    width: 18px;
    height: 18px;
    background-image: url("slice/mj_icon10.png");
    margin-left: 10px;
}
.uj_icon11{
    width: 13px;
    height: 8px;
    background-image: url("slice/mj_icon11.jpg");
}
.uj_icon12 {
    width: 11px;
    height: 19px;
    background-image: url("slice/mj_icon12.png");
    margin-left: 25px;
}
.uj_icon13{
    width: 15px;
    height: 15px;
    background-image: url("slice/mj_icon13.png");
    margin-right: 5px;
}
.uj_icon14{
    width: 11px;
    height: 11px;
    background-image: url("slice/mj_icon14.png");
}
.uj_icon15{
    width: 22px;
    height: 21px;
    background-image: url("slice/mj_icon15.png");
}
.uj_icon16{
    width: 20px;
    height: 13px;
    background-image: url("slice/mj_icon16.png");
}
.uj_icon17{
    width: 9px;
    height: 5px;
    background-image: url("slice/mj_icon17.png");
}
.uj_icon7_1{
    width: 7px;
    height: 13px;
    background-image: url("slice/mj-icon7d.png");
    margin-left: 10px;
}
.uj_icon7_2{
    width: 7px;
    height: 13px;
    background-image: url("slice/mj-icon7.png");
    margin-left: 10px;
}
.uj_icon7_3{
    width: 7px;
    height: 13px;
    background-image: url("slice/mj-icon7s.png");
    margin-left: 10px;
}
.uj_icon18{
    width: 12px;
    height: 12px;
    background-image: url("slice/mj_icon18.png");
    margin-right: 5px;
}
.uj_icon19{
    width: 13px;
    height: 9px;
    background-image: url("slice/mj_icon19.png");
}
.uj_icon20{
    width: 14px;
    height: 11px;
    background-image: url("slice/mj_icon20s.png");
    margin-right: 5px;
}
.uj_entip{
    width: 13px;
    height: 8px;
    background-image: url("slice/mj-entip.png");
}
.uj-icon1{
    width: 6px;
    height: 9px;
    background-image: url("slice/mj_icon1.png");
    margin-left: 20px;
}
.uj-icon5{
    width: 15px;
    height: 15px;
    background-image: url("slice/uj-icon5.jpg");
}
.uj-icon6{
    width: 6px;
    height: 9px;
    background-image: url("slice/uj-icon6.png");
    margin-left: 5px;
}
.us-icon19 {
    width: 17px;
    height: 17px;
    background-image: url("slice/icon19.png");
    margin: -3px 15px 0 0;
}

.uj_icon59{
    width: 23px;
    height: 17px;
    background-image: url("slice/mj_icon59.png");
}
.uj_icon43 {
    width: 18px;
    height: 16px;
    background-image: url("slice/mj-icon43.png");
    margin-right: 5px;
}
.n_icon1{
    width: 9px;
    height: 9px;
    background: url("slice/n_icon1.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon2{
    width: 9px;
    height: 9px;
    background: url("slice/n_icon2.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon3{
    width: 7px;
    height: 4px;
    background: url("slice/n_icon3.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon4{
    width: 7px;
    height: 4px;
    background: url("slice/n_icon4.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon5{
    width: 14px;
    height: 14px;
    background: url("slice/n_icon5.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon6{
    width: 14px;
    height: 14px;
    background: url("slice/n_icon6.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon7{
    width: 14px;
    height: 14px;
    background: url("slice/n_icon7.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon8{
    width: 12px;
    height: 11px;
    background: url("slice/n_icon8.png") no-repeat center center;
    margin-left: 3px;
}
.n_icon9{
    width: 12px;
    height: 11px;
    background: url("slice/n_icon9.png") no-repeat center center;
    margin-left: 3px;
}
