.header {
    height: 68px;
    line-height: 68px;
    border-bottom: 1px solid #d6dce0;;

}

.header .wrap {
    width: 960px;
    margin: 0 auto;
}

.logo {
    padding-top: 4px;
}

.banner-shangbiao {
    background: url("../../img/shangbiao-banner.png") no-repeat center center;
}

.banner-jiance2 {
    background: url("../../img/jiance-banner2.png") no-repeat center center;
}

.banner .wrap {
    height: 449px;
    width: 960px;
    position: relative;
}

.btn-submit {
    background: #fd6c01;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: block;
}

.btn-shangbiao {
    position: absolute;
    top: 225px;
    right: 99px;
}

.banner-jiance1 {
    background: url(../../img/prompt/jiance-banner1.png) no-repeat center center;
}

.btn-jiance {
    position: absolute;
    top: 225px;
    right: 65px;
}

