.section1s {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
.pic_boxs {
    width: 222px;
    height: 300px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
}

.pic_boxs img {
    width: 222px;
    height: 300px;
    transition: all 0.6s;
}

.pic_boxs:hover img {
    transform: scale(1.05, 1.05);
}

.pic_boxs .text {
    width: 222px;
    height: 32px;
    position: absolute;
    top: 174px;
    left: 0;
    z-index: 99;
}

.pic_boxs .text span {
    display: block;
    width: 46px;
    height: 2px;
    background: #fff;
    margin-bottom: 6px;
    margin-left: 18px;
}

.pic_boxs .text p {
    width: 294px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic_boxs .text_hover {
    width: 222px;
    position: absolute;
    top: 161px;
    left: 0;
    z-index: 99;
    display: none;
}

.pic_boxs:hover .text {
    display: none;
}

.pic_boxs:hover .text_hover {
    display: block;
}

.pic_boxs .text_hover .p1 {
    width: 294px;
    height: 24px;
    line-height: 24px;
    margin: 0 18px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic_boxs .text_hover .p2 {
    width: 294px;
    height: 20px;
    line-height: 20px;
    margin: 0 18px;
    color: #fff;
    padding: 4px 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pic_boxs .text_hover .p3 {
    width: 222px;
    height: 4px;
    background: #E32424;
}

.pic_boxs .mask {
    width: 222px;
    height: 302px;
    background: url("../indexImg/pic_shadow.png") no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}
/*主会场*/
.pic-boxs-panel {
	width: 222px;
    height: 32px;
    position: absolute;
    top: 174px;
    left: 0;
    z-index: 99;
    text-align: center;
}
.pic-boxs-panel .go-boxs{
	padding: 10px 30px;
	border: 1px solid #E5E5E5;
	color: #fff;
}
/*分会场领券*/
.section-meet {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
.meet_boxs {
    width: 222px;
    height: 300px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
}
.meet_boxs img {
    width: 222px;
    height: 200px;
    transition: all 0.6s;
}
.meet_boxs:hover img {
    transform: scale(1.05, 1.05);
}
.meet-boxs-panel {
	width: 222px;
    height: 60px;
    z-index: 99;
    text-align: center;
    margin-top: 40px;
}
.meet-boxs-panel .go-boxs{
	padding: 10px 30px;
	border: 1px solid #F26709;
	color: #F26709;
}
/**
 * 广告位
 */
.section2 .sec_box {
    
}
.section-adv {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
.section-adv .adv-boxs {
    width: 100%;
    height: 100px;
    border: 1px solid #CCCCCC;
}
.adv-boxs img {
    width: 100%;
    height: 100px;
    transition: all 0.6s;
}