/*header-index*/
.header-index {
    border-bottom: 1px solid #ececec;
    height: 45px;
}

.header-index a {
    font-size: 14px;
}

.header-index .logininfo {
    padding-top: 26px;
}

.header-index .logininfo .userlist {
    top: 37px;
}

.nav {
    height: 44px;
    line-height: 44px;
}

.nav ul li {
    float: left;
    margin-right: 20px;
}

.nav ul li a {
    display: inline-block;
    position: relative;
}

.nav ul li.active a {
    border-bottom: 2px solid #fc7d28
}

.nav ul li a:hover {
    color: #fc7d28;
}

/*header*/
.header {
    border-bottom: 1px solid #ececec;
    height: 68px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
}

.header img {
    padding-right: 100px;
    margin-top: 5px;
}

.header a {
    font-size: 16px;
}

.header .nav {
    height: 66px;
    line-height: 66px;
}

.header .nav ul li {
    margin-right: 32px;
}

.header .header-right {
    color: #222;
    font-size: 14px;
}

.header .header-right a {
    font-size: 14px;
}

.gjss-header-box {
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 99;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.gjss-header {
    width: 1184px;
    padding: 10px 0 5px 0;
    margin: 0 auto;
    position: relative;
}

.colligate-title {
    position: relative;
    width: 860px;
    height: 34px;
    overflow: hidden;
}

.colligate-list {
    position: absolute;
    top: 10px;
    left: 160px;
    right: 160px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #ccc;
    padding: 20px;
    background: #fff;
    display: none;
    overflow: hidden;
    overflow-y: auto;
}

.c-title {
    border-left: 5px solid #fc6c00;
    height: 14px;
    line-height: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.c-list {
    padding-bottom: 10px;
    position: relative;
    padding-left: 110px;
    min-height: 20px;
}

.c-list span {
    display: block;
    line-height: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 0;
    width: 90px;
}

.c-list .cbox {
    width: 100%;
    line-height: 20px;
}

.c-list .cbox h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.classgroup {
    padding: 5px 0;
}

.groupmore {
    position: absolute;
    margin-top: -20px;
    padding-left: 100px;
    color: #1a7ce5;
}

.classgroup p {
    padding-left: 10px;
    clear: both;
    line-height: 20px !important;
    height: 20px;
}

.c-list .cbox em {
    color: #fc6c00
}

.gjss-header .fl p {
    display: inline-block;
    padding-right: 10px;
    line-height: 34px;
    float: left;
}

.gjss-header .fl p.shenglue {
    position: absolute;
    right: 0;
}

.gjss-header .fl p span {
    float: left;
    color: #888;
}

.gjss-header .fl p em {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fc6c00;
    float: left;
    display: block;
}

.gjss-header .fr a {
    background: #fc6c00;
    color: #fff;
    height: 32px;
    width: 113px;
    display: block;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
}

/*footer*/
.footer {
    /*width: 1184px;*/
    margin: 0 auto;
    height: 14px;
    line-height: 14px;
    padding: 15px 0;
    background: #ECECEC;
}

.footer ul {
    /*width: 1184px;*/
    margin: 0 auto;
}

.footer li {
    float: left;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    display: block;
    border-left: 1px solid #aaa;
}

.footer li:first-child {
    border-left: none;
}

.footer li a {
    padding: 0 15px;
    color: #888;
}

.footer li a:hover {
    text-decoration: underline;
}

.footer p {
    padding-top: 10px;
    font-size: 12px;
    color: #b6b6b6;
}

.footer p a {
    color: #b6b6b6;
}

/**弹出提示框**/
.tcbox_yy {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.tcbox_vtip {
    background-color: #ffffff;
    height: 250px;
    left: 50%;
    margin-left: -310px;
    margin-top: -125px;
    opacity: 1 !important;
    overflow: hidden;
    position: relative;
    top: 50%;
    width: 620px;
    z-index: 2147483647;
}

.tcbox-ts {
    margin-top: 55px;
    text-align: center;
}

.tcbox-ts img {
    display: inline-block;
    margin-bottom: -18px;
    margin-right: 10px;
}

.tcbox-ts p {
    color: #666666;
    display: inline-block;
    font-size: 16px;
}

.tcbox-ts p label {
    color: #fc7d28;
}

.tcbox-qr {
    background: #fc7d28 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin: 45px auto 0;
    text-align: center;
    width: 180px;
}

.header-index ul li a .icon-new {
    margin-top: 5px;
}

.mj-guanjia {
    display: none;
    position: relative;
    padding: 55px 0;
    width: 485px;
    background: #fff;
    text-align: center;
}

.mj-guanjia p {
    padding: 35px 20px;
    font-size: 14px;
    color: #444;
    text-align: center;
}

.mj-guanjia p em {
    color: #0066FF;
}

.mj-guanjia > a {
    color: #fc7d28;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.mj-guanjia .tcbox-qr {
    color: #ffffff;
    font-size: 14px;
    margin-top: 0;
}

.mj-guanjia .tcbox-qx {
    font-size: 14px;
    border: 1px solid #ccc;
    width: 180px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 20px auto 0px;
    color: #666;
    background: #f8f8f8;
}

.logininfo {
    padding-top: 26px;
    position: relative
}

.header .header-right a.login-name {
    text-align: right;
    display: block;
    padding-bottom: 5px;
    color: #666;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.header .header-right a.login-name em {
    white-space: nowrap;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    max-width: 156px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.download {
    background: url("../img1.7/icon22.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
}

/*���������*/
.mj-feedback {
    display: none;
    position: relative;
    width: 608px;
    height: 406px;
    background: #fff;
}

.mj-feedback .mj-fTitle {
    display: block;
    padding: 15px 0 0 15px;
    font-size: 14px;
    color: #666;
}

.mj-feeCon {
    width: 480px;
    margin: 35px auto;
}

.mj-feeCon > p {
    line-height: 25px;
    font-size: 12px;
    color: #666;
}

.mj-feeCon textarea {
    margin-top: 10px;
    padding: 15px 0 0 15px;
    width: 465px;
    height: 110px;
    border: solid 1px #cecece;
    outline: none;
    resize: none;
}

.mj-feeCon input {
    margin: 15px 0;
    padding-left: 15px;
    width: 285px;
    height: 36px;
    border: solid 1px #cecece;
    line-height: 36px \9;
    outline: none;
}

.mj-feeCon a {
    display: block;
    width: 148px;
    height: 35px;
    background: #ff6700;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
}

/*��������� end*/